body{
    background-color: orange;
}

.container{
    border-radius: 10px;
    border: solid 1px;  
    box-shadow: blue(20px);
    background-color: rgba(255, 166, 0, 0.61);
    width: 80%;
    margin: auto;
    margin-top: 300px;
    text-align: center;
    width: 300px;
}